<div class="form-group bundle-group clearfix">

    <div class="left-container">
        <input type="text" value="{{text}}" class="form-control title-field" data-titleNumber="{{@key}}" placeholder="Url title" data-for="title"/>
        <input type="text" value="{{url}}" data-textNumber="{{@key}}" class="form-control url-field" data-for="url" placeholder="http://"/>
        <textarea class="form-control text-field">{{text}}</textarea>
        <button type="button" class="btn btn-danger delete">Delete</button>
    </div>
    <div class="right-container">
        <span class="glyphicon glyphicon-chevron-up change-order move-up" aria-hidden="true" data-move="up"></span>
        <span class="glyphicon glyphicon-chevron-down change-order move-down" aria-hidden="true" data-move="down"></span>
    </div>
</div>
