<div class="form-group bundle-group clearfix" data-bundleType="single-bundle-url">

    <div class="left-container">

        <p><a href="{{url}}">{{#if title}}{{title}}{{else}}{{url}}{{/if}}</a></p>

        <p>{{text}}</p>

    </div>

</div>
