
<div id="bundle-container">

    <div id="view-module">

        {{#if bundleName}} <h2>{{bundleName}}</h2> {{/if}}

        {{#each bundleUrls}}

            <div class="module-row">

                <a href="{{url}}" target="_blank">{{#if title}}{{title}}{{else}}{{url}}{{/if}}</a>

                <div>{{text}}</div>

            </div>

        {{else}}

            <p>No urls present</p>

        {{/each}}

    </div>

</div>





