<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script> var pageConfig = { pageId : '{{pageId}}', eid : '{{eid}}', bundleId : '{{bundleId}}' }; </script>
    <script src="/javascripts/core.min.js"></script>
  </head>

  <body id="{{pageId}}">

    <header>
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header"><a href="/"><strong>UB | Url Bundle</strong></a></div>
          <div class="navbar-right">
              <a href="/create">Create</a> | <a href="/about">About</a> | <a href="/api">API</a>
          </div>
        </div>
      </nav>
    </header>

    {{{body}}}

    <footer>
        <div class="footer" id="footer">
            <div class="container">Url Bundle</div>
        </div>
    </footer>

  </body>
</html>
